:root {
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --primary-text-color: #757575;
    --secondary-text-color: #FFFFFF;
    --title-color: #212121;
    --secondary-bg-color: #F5F4FA;
    --footer-color: #2F303A;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}