.service {
    display: none;
    padding-bottom: 94px;
    .list {
        display: flex;
        justify-content: space-between;
    }
    .item {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .link {
        display: flex;
        justify-content: space-between;
    }
    &-image {
        display: block;
        max-width: 100%;
        height: auto;
        /* margin-right: 30px; */
    }
    &-item {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        width: 370px;
        height: 70px;
    
        background-color: rgba(47, 48, 58, 0.8);
    }
    &-description {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: var(--secondary-text-color);
    }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

